.vscode/**
.vscode-test/**
out/test/**
src/**
out/dev/**
dev/**
.gitignore
.yarnrc
**/webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
**/*.code-workspace

node_modules/uikit/build/**
node_modules/uikit/src/**
node_modules/uikit/test/**
